.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
Examples.iml
text.txt.lck
.vscode
.idea/workspace.xml
.idea
.idea
.vs/Java/FileContentIndex/c5263248-dca6-4c71-bb4a-4ceadcf26d0d.vsidx
.vs/Java/FileContentIndex/read.lock
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
