.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
Examples.iml
text.txt.lck
.vscode
.idea/workspace.xml
.idea
.idea
.vs/Java/FileContentIndex/c5263248-dca6-4c71-bb4a-4ceadcf26d0d.vsidx
.vs/Java/FileContentIndex/read.lock
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Debug/net6.0/Java.AssemblyInfo.cs
obj/Debug/net6.0/Java.AssemblyInfoInputs.cache
obj/Debug/net6.0/Java.csproj.AssemblyReference.cache
obj/Debug/net6.0/Java.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/Java.GlobalUsings.g.cs
